@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 89% 96%;
    --foreground: 210 60% 2%;

    --card: 212 89% 96%;
    --card-foreground: 210 60% 2%;

    --popover: 212 89% 96%;
    --popover-foreground: 210 60% 2%;

    --primary: 202 100% 30%;
    --primary-foreground: 210 40% 98%;

    --secondary: 211 42% 70%;
    --secondary-foreground: 222.2 47.4% 21.2%;

    --muted: 210 40% 90.1%;
    --muted-foreground: 215.4 16.3% 40.9%;

    --accent: 210 40% 90.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 60% 98%;

    --border: 214.3 31.8% 87.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 210 60% 2%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 210 60% 98%;

    --card: 0 0% 5%;
    --card-foreground: 210 60% 98%;

    --popover: 0 0% 5%;
    --popover-foreground: 210 60% 98%;

    --primary: 202 100% 40%;
    --primary-foreground: 0 0% 5%;

    --secondary: 211 42% 22%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .h-screen-svh {
    height: 100vh;
    height: 100svh;
  }
  .min-h-screen-svh {
    min-height: 100vh;
    min-height: 100svh;
  }
}
